@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");

*,
*::before,
*::after {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   font-family: "Poppins", sans-serif;
   --text-color: #000;
   --main-hue: 208;
   --main-color: hsl(var(--main-hue), 92%, 54%);
   --nav-color: hsl(var(--main-hue), 17%, 79%);
   --bg-color: #fff;
   --light-text-color: #9ca7b6;
   --main-color-hover: hsl(var(--main-hue), 77%, 48%);
   --input-bg: hsla(var(--main-hue), 50%, 50%, 6.5%);
   --input-bg-hover: hsla(var(--main-hue), 50%, 50%, 14%);
   --input-text: #8c9aaf;
   --light-main-color: hsl(var(--main-hue), 91%, 55%) --text-color: #000;
   --input-shadow: hsla(var(--main-hue), 92%, 54%, 0.169);
}

.dark {
   --bg-color: hsl(var(--main-hue), 30%, 16.5%);
   --input-bg: hsla(var(--main-hue), 22%, 50%, 11%);
   --input-bg-hover: hsla(var(--main-hue), 22%, 50%, 18.5%);
   --nav-color: hsl(var(--main-hue), 10%, 47%);
   --light-text-color: hsl(var(--main-hue), 12%, 46%);
   --input-text: hsl(var(--main-hue), 10%, 55%);
   --input-shadow: hsla(var(--main-hue), 92%, 58%, 0.2);
   --text-color: #fff;
}

.dark .logo img.logo-forDark {
   opacity: 1;
}

.dark .logo img.logo-forLight {
   opacity: 0;
}

.dark #dashed-wave {
   opacity: 0.3;
}

.transition {
   transition: 1s cubic-bezier(.4, .1, .4, 1) !important;
}

a {
   text-decoration: none;
}

.background {
   position: fixed;
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   background-color: hsla(var(--main-hue), 30%, 16.5%, 80%);
   z-index: 2;
   opacity: 0;
}

.dark .background {
   opacity: 1;
}

header {
   position: absolute;
   width: 100%;
   top: 0;
   left: 0;
   z-index: 4;
}

header .container {
   max-width: 82rem;
   margin: 0 auto;
   padding: 0 1rem;
   height: 65px;
   display: flex;
   align-items: flex-end;
}

header ul {
   display: flex;
   list-style: none;
   align-items: center;
}

.logo {
   display: flex;
   align-items: center;
   margin-right: 3rem;
}

.logo .images {
   display: grid;
   grid-template-columns: 1fr;
   grid-template-rows: 1fr;
}

.logo img {
   height: 35px;
   grid-column: 1/2;
   grid-row: 1/2;
   margin-right: 0.8rem;
}

.logo img.logo-forDark {
   opacity: 0;
}

.logo h2 {
   color: var(--text-color);
   font-size: 1.55rem;
   margin-top: 2px;
}

.logo h2 span {
   color: var(--main-color);
}

.nav-link {
   margin-left: 5.5rem;
   padding: 0 1rem;
   font-weight: 600;
   font-size: 1rem;
   color: var(--nav-color);
   transition: 0.3s;
}

.nav-link:hover {
   color: var(--main-color);
}

.nav-link.theme-toggle {
   cursor: pointer;
}

.theme-toggle .fa-moon {
   display: none;
}

.theme-toggle .fa-sun {
   display: inline;
}

.dark .theme-toggle .fa-moon {
   display: inline;
}

.dark .theme-toggle .fa-sun {
   display: none;
}

.contact {
   width: 100%;
   overflow: hidden;
   background-color: var(--bg-color);
}

.contact .container {
   height: 100vh;
   min-height: 700px;
   display: grid;
   grid-template-columns: 1fr;
   grid-template-rows: 1fr;
}

.contact .container>div {
   grid-column: 1/2;
   grid-row: 1/2;
}

.left {
   width: 100%;
   max-width: 80rem;
   margin: 0 auto;
   padding: 65px 1.5rem 0;
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   align-items: center;
   position: relative;
   z-index: 3;
}

.contact-heading h1 {
   font-weight: 600;
   color: var(--text-color);
   font-size: 3.5rem;
   line-height: 0.9;
   white-space: nowrap;
   margin-bottom: 1.2rem;
}

.contact-heading h1 span {
   color: var(--main-color);
}

.text {
   color: var(--light-text-color);
   line-height: 1.1;
   font-size: 1rem;
}

.text a {
   color: var(--main-color);
   transition: 0.3s;
}

.text a:hover {
   color: var(--main-color-hover);
}

.form-wrapper {
   max-width: 32rem;
}

.contact-form {
   display: grid;
   margin-top: 2.55rem;
   grid-template-columns: repeat(2, 1fr);
   column-gap: 2rem;
   row-gap: 1rem;
}

.input-wrap {
   position: relative;
}

.input-wrap.w-100 {
   grid-column: span 2;
}

.contact-input {
   width: 100%;
   background-color: var(--input-bg);
   padding: 1.5rem 1.35rem calc(0.75rem - 2px) 1.35rem;
   border: none;
   outline: none;
   font-family: inherit;
   border-radius: 20px;
   color: var(--text-color);
   font-weight: 600;
   font-size: 0.95rem;
   border: 2px solid transparent;
   box-shadow: 0 0 0 0px var(--input-shadow);
   transition: .3s;
}

.contact-input:hover {
   background-color: var(--input-bg-hover);
}

.input-wrap label {
   position: absolute;
   top: 50%;
   left: calc(1.35rem + 2px);
   transform: translateY(-50%);
   color: var(--light-text-color);
   pointer-events: none;
   transition: .3s;
}

.input-wrap .icon {
   position: absolute;
   right: calc(1.35rem + 2px);
   top: 50%;
   transform: translateY(-50%);
   pointer-events: none;
   color: var(--input-text);
   font-size: 1.25rem;
   transition: .3s;
}

textarea.contact-input {
   resize: none;
   width: 100%;
   min-height: 150px;
}

textarea.contact-input~label {
   top: 1.2rem;
   transform: none;
}

textarea.contact-input~.icon {
   top: 1.3rem;
   transform: none;
}

.input-wrap.focus .contact-input {
   background-color: var(--bg-color);
   border: 2px solid var(--light-main-color);
   box-shadow: 0 0 0 5px hsla(var(--main-hue), 51%, 55%, 0.11);
}

.input-wrap.focus label {
   color: var(--light-main-color);
}

.input-wrap.focus .icon {
   color: var(--light-main-color);
}

.input-wrap.not-empty label {
   font-size: 0.66rem;
   top: 0.75rem;
   transform: translateY(0);
}

.contact-buttons {
   display: grid;
   grid-template-columns: 1fr 1fr;
   column-gap: 1rem;
   margin-top: 1rem;
   width: 100%;
   grid-column: span 2;
}

.btn {
   display: inline-block;
   padding: 1.1rem 2rem;
   background-color: var(--main-color);
   color: #fff;
   border-radius: 40px;
   border: none;
   font-family: inherit;
   font-weight: 500;
   font-size: 1rem;
   cursor: pointer;
   transition: 0.3s;
}

.btn:hover {
   background-color: var(--main-color-hover);
}

.btn.upload {
   position: relative;
   background-color: var(--input-bg);
}

.btn.upload span {
   color: var(--light-text-color);
}

.btn.upload:hover {
   background-color: var(--input-bg-hover);
}

.btn.upload input {
   position: absolute;
   width: 100%;
   height: 100%;
   left: 0;
   top: 0;
   background-color: red;
   cursor: pointer;
   opacity: 0;
}

.right {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   overflow: hidden;
   pointer-events: none;
}

.image-wrapper {
   position: relative;
   grid-column: 2;
}

.image-wrapper .img {
   position: absolute;
   height: 130%;
   left: 60%;
   top: 50%;
   transform: translate(-50%, -50%);
}

.dark .image-wrapper .img {
   transform: translate(-50%, -50%) scale(1.7);
}

.wave-wrap {
   position: absolute;
   width: 100%;
   height: 100%;
   top: 0;
   right: 100%;
   background-color: var(--bg-color);
   filter: blur(0px);
}

.wave-wrap svg {
   position: absolute;
   height: calc(100% + 10px);
   top: 50%;
   transform: translateY(-50%) scaleX(1);
   left: calc(100% - 2px);
   transform-origin: left;
}

#wave {
   fill: var(--bg-color);
   height: 100%;
}

.dark .wave-wrap svg {
   transform: translateY(-50%) scaleX(0);
}

.dark .wave-wrap {
   transform: scale(1.8);
   filter: blur(55px);
}

.dashed-wave {
   position: absolute;
   z-index: 3;
   height: 130%;
   bottom: 60%;
   left: -28px;
   transform: translateY(50%);
}

#dashed-wave {
   fill: none;
   stroke: var(--nav-color);
   stroke-width: 1px;
   stroke-dasharray: 6.5;
   opacity: 0.8;
}

@media only screen and (max-width: 1000px) {
   .logo {
      margin-right: 1rem;
   }

   .logo img {
      height: 30px;
      margin-right: 0.7rem;
   }

   .logo h2 {
      font-size: 1.3rem;
   }

   .nav-link {
      margin-left: 3.5rem;
      padding: 0 .8rem;
      font-size: 0.9rem;
   }

   .nav-link.theme-toggle {
      font-size: 1rem;
   }

   .contact-heading h1 {
      font-size: 2.5em;
      margin-bottom: 1rem;
      white-space: normal;
   }

   .text {
      font-size: 0.9rem;
   }

   .contact-form {
      display: grid;
      margin-top: 1.9rem;
      column-gap: .8rem;
      row-gap: 0.65rem;
   }

   .contact-input {
      border-radius: 17px;
      font-size: 0.87rem;
      padding: 1.5rem 1.2rem calc(0.75rem - 2px) 1.2rem;
   }

   .input-wrap label {
      font-size: 1.1rem;
      right: calc(1.2rem + 2px);
   }

   .input-wrap .icon {
      font-size: 1.1rem;
      right: calc(1.2rem + 2px);
   }

   textarea.contact-input~label {
      top: 1.2rem;
   }

   textarea.contact-input~.icon {
      top: 1.33rem;
   }

   .input-wrap.focus .contact-input {
      box-shadow: 0 0 0 3.5px var(--input-shadow);
   }

   .input-wrap.not-empty label {
      font-size: 0.61rem;
   }

   .contact-buttons {
      column-gap: 0.8rem;
      margin-top: 0.45rem;
   }

   .btn {
      padding: 1rem 1.5rem;
      font-size: 0.87rem;
   }

   .dashed-wave {
      bottom: 55%;
      left: -10px;
   }

   #dashed-wave {
      stroke-width: 0.7px;
      stroke-dasharray: 6;
   }

   .wave-wrap {
      transform: translateX(-10%);
   }

   .wave-wrap svg {
      height: calc(110% +10px);
      transform: translate(-5%, -50%);
   }
}

@media only screen and (max-width: 650px) {
   header .container {
      height: 50px;
   }

   .left {
      padding: 50px 1.5rem 0;
      grid-template-columns: 1fr;
      justify-items: center;
   }

   .form-wrapper {
      width: 100%;
      padding: 1rem 0;
   }

   header ul {
      justify-content: space-between;
      width: 100%;
   }

   .logo {
      margin-right: 0;
   }

   .nav-link {
      margin-left: 0;
   }

   .right {
      display: none;
   }
}

@media only screen and (max-width: 440px) {
   .input-wrap {
      grid-column: span 2;
   }

   .contact-buttons {
      grid-template-columns: 1fr;
      row-gap: 0.5rem;
   }

   .contact-heading h1 {
      font-size: 1.9rem;
      line-height: 1;
   }

   .logo img {
      height: 25px;
      margin-right: 0.7rem;
   }

   .logo h2 {
      font-size: 1.15rem;
   }
}